snippet btn
<button class="btn btn-$1 btn-$2"
				data-toggle="tooltip"
				data-placement="bottom"
				title="$5">
	<i class="fa fa-$3"></i>
	$4
</button>
endsnippet
snippet fgr
<div class="form-group $1">
	<label for="$2">$3</label>
	<div class="input-group">
		<span class="input-group-addon">
			<i class="fa fa-fw fa-$4"></i>
		</span>
		<input type="text"
		       name="$5"
		       class="form-control"
		       placeholder="$6" 
		/>
	</div>
</div>
endsnippet
